h1,h2,h3,h4,h5,h6, #projectTitle a{
    color:#080b4d;
}


.site-logo{
    max-width: 200px;
}

.container{
    padding-top: 40px;
}

.header.container{
    border-bottom: 2px solid #080b4d;
}

.nav-item{
    font-size: 20px;
    font-weight: bold;
}

.nav-item.active{
    text-decoration: underline;
}

button, #projectEdit, #projectDelete, #task-header, #member-header, .add-project a,.add-member{
    background: #080b4d;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid gold;
    text-transform: uppercase;
    font-size: 10px;
    color:#fff;
}

.logout{
    background: transparent;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #080b4d;
    text-transform: uppercase;
    font-size: 10px;
    color:#080b4d;
}

#projectDelete, #projectEdit{
    float: right;
    margin-top: 6px;
}
#projectTitle{
    float: left;
    font-size: 18px;
    margin-top: 6px;
    margin-bottom: 0;
}
#taskCard{
    text-align: center;
}


.list-of-projects{
    padding: 5px 10px;
}

#userList .card{
    padding: 15px;
}

#addMemberBtn{
    max-height: 30px;
}

#addTimeBtn{
    margin-left: 20px;
}